# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.idea
.DS_Store
.env
npm-debug.log*
package-log.json*
yarn-debug.log*
yarn-error.log*
jest
..env.swp
package-lock.json
.vscode/
.vs/chat.susi.ai/v15/.suo
*.sqlite
.vs/chat.susi.ai/v15/.suo
.vs/slnx.sqlite
.vs/chat.susi.ai/v15/.suo
*.sqlite
.vs/chat.susi.ai/v15/.suo
